<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-black">

    <!-- Create Account Button -->
    <!-- Default -->
    <section>
        <button class="bg-neutral-50 w-80 py-2 px-6 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Create account</div>    
        </button>
    </section>
    <br>

    <!-- Hover  -->
    <section>
        <button class="bg-neutral-200 w-80 py-2 px-6 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Create account</div>    
        </button>
    </section>
    <br>

    <!-- Disabled -->
    <section>
        <button class="bg-neutral-500 w-80 py-2 px-6 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Create account</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Sign up Outline -->
    <section>
        <button class="border border-button-stroke w-80 py-2 px-6 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-twitter-blue-default font-px-regular">Sign up</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Follow Buttons -->
    <br>
    <!-- Default -->
    <section>
        <button class="bg-neutral-50 w-24 px-5 py-2 rounded-3xl shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Follow</div>    
        </button>
    </section>

    <br>
    <!-- Hover -->
    <section>
        <button class="bg-neutral-200 w-24 px-5 py-2 rounded-3xl shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Follow</div>    
        </button>
    </section>

    <br>
    <!-- Disabled -->
    <section>
        <button class="bg-neutral-500 w-24 px-5 py-2 rounded-3xl shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Follow</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Next Buttons -->

    <!-- Default -->
    <section>
        <button class="bg-neutral-50 w-[27.625rem] py-3 px-6 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Next</div>    
        </button>
    </section>
    <br>

    <!-- Hover -->
    <section>
        <button class="bg-neutral-200  w-[27.625rem] py-3 px-6 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Next</div>    
        </button>
    </section>
    
    <br>

    <!-- Disabled -->
    <section>
        <button class="bg-neutral-500 w-[27.625rem] py-3 px-6 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-1000 font-px-regular">Next</div>    
        </button>
    </section>

    <br><hr><br>


    <!-- Following Button -->
    <section>
        <button class="border border-button-stroke w-[6.125rem] py-1.5 px-4 rounded-[4.0625rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-neutral-50 text-center font-bold font-px-regular text-sm">Following</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Post Buttons -->

    <!-- default -->
    <section>
        <button class="bg-twitter-blue-default w-56 py-4 px-24 rounded-[624.9375rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-50 font-px-regualr">Post</div>    
        </button>
    </section>
    
    <br>

    <section>
        <button class="bg-twitter-blue-default w-20 py-3 px-6 rounded-[1.875rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-50 font-px-regualr">Post</div>    
        </button>
    </section>

    <br>

    <section>
        <button class="bg-twitter-blue-default w-[27.625rem] p-5 rounded-[624.9375rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-twittwe-white-100 font-px-regualr">Post</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Hover -->

    <section>
        <button class="bg-twitter-blue-hover  w-56 py-4 px-24 rounded-[624.9375rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-50 font-px-regualr">Post</div>    
        </button>
    </section>

    <br>

    <section>
        <button class="bg-twitter-blue-hover w-20 py-3 px-6 rounded-[1.875rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-50 font-px-regualr">Post</div>    
        </button>
    </section>

    <br>

    <section>
        <button class="bg-twitter-blue-hover w-[27.625rem] p-5 rounded-[624.9375rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-50 font-px-regualr">Post</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Disabled -->

    <section>
        <button class="bg-twitter-blue-disabled  w-56 py-4 px-24 rounded-[624.9375rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-400 font-px-regualr">Post</div>    
        </button>
    </section>

    <br>

    <section>
        <button class="bg-twitter-blue-disabled w-20 py-3 px-6 rounded-[1.875rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-400 font-px-regualr">Post</div>    
        </button>
    </section>

    <br>

    <section>
        <button class="bg-twitter-blue-disabled w-[27.625rem] p-5 rounded-[624.9375rem] shadow-custom backdrop-blur-[23.668209075927734px]">
            <div class="text-center font-bold text-neutral-400 font-px-regualr">Post</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Selected -->
    <section>
        <div class="w-14 h-10 border-b-[0.19rem] border-twitter-blue-default text-neutral-400">
            For you
        </div>
    </section>

    <br>

    <!-- Default -->
    <section>
        <div class="border-twitter-blue-default text-neutral-50">
            Following
        </div>
    </section>

    <br><hr><br>

    <section>
        <img src="/Public/images/home-icon-not-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section>
    <section>
        <img src="/Public/images/home-icon-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section>
    <section>
        <img src="/Public/images/user-icon-not-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section>
    <section>
        <img src="/Public/images/user-icon-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section>



    



    
</body>
</html>