<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body class="bg-black">
    <br>
    <!-- Create Account Button -->
    <!-- Default -->
    <section>
        <button class="flex justify-center bg-neutral-50 w-80 py-2 px-6 rounded-4xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Create account</div>    
        </button>
    </section>
    <br>

    <!-- Hover  -->
    <section>
        <button class="flex justify-center bg-neutral-50 w-80 py-2 px-6 rounded-4xl shadow-custom backdrop-blur-button-23  hover:bg-neutral-200 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Create account</div>    
        </button>
    </section>
    <br>

    <!-- Disabled -->
    <section>
        <button class="flex justify-center bg-neutral-500 w-80 py-2 px-6 rounded-4xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Create account</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Sign up Outline -->
    <section>
        <button class="flex justify-center border border-button-stroke w-80 py-2 px-6 rounded-4xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-twitter-blue-default font-inter">Sign up</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Follow Buttons -->
    <br>
    <!-- Default -->
    <section>
        <button class="inline-flex justify-center bg-neutral-50 w-24 px-5 py-2 rounded-3xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Follow</div>    
        </button>
    </section>

    <br>
    <!-- Hover -->
    <section>
        <button class="inline-flex justify-center bg-neutral-50 w-24 px-5 py-2 rounded-3xl shadow-custom backdrop-blur-button-23  hover:bg-neutral-200 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Follow</div>    
        </button>
    </section>

    <br>
    <!-- Disabled -->
    <section>
        <button class="inline-flex justify-center bg-neutral-500 w-24 px-5 py-2 rounded-3xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Follow</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Next Buttons -->

    <!-- Default -->
    <section>
        <button class="flex justify-center bg-neutral-50 w-[27.625rem] py-3 px-6 rounded-4xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Next</div>    
        </button>
    </section>
    <br>

    <!-- Hover -->
    <section>
        <button class="flex justify-center bg-neutral-50  w-[27.625rem] py-3 px-6 rounded-4xl shadow-custom backdrop-blur-button-23  hover:bg-neutral-200 gap-2.5">
            <div class="text-center font-bold text-neutral-1000 font-inter">Next</div>    
        </button>
    </section>
    
    <br>

    <!-- Disabled -->
    <section>
        <button class="flex justify-center bg-neutral-500 w-[27.625rem] py-3 px-6 rounded-4xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-sm text-center font-bold text-neutral-1000 font-inter">Next</div>    
        </button>
    </section>

    <br><hr><br>


    <!-- Following Button -->
    <section>
        <button class="inline-flex justify-center border border-button-stroke w-[6.125rem] h-8 py-1.5 px-4 rounded-4xl shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-neutral-50 text-center font-bold font-inter text-sm">Following</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Post Buttons -->

    <!-- default -->
    <section>
        <button class="inline-flex justify-center bg-twitter-blue-default w-56 py-4 px-24 rounded-[624.9375rem] gap-2.5 shadow-custom backdrop-blur-button-23">
            <div class="text-center font-bold text-neutral-50 font-inter">Post</div>    
        </button>
    </section>
    
    <br>

    <!-- Hover -->
    <section>
        <button class="inline-flex justify-center bg-twitter-blue-default  w-56 py-4 px-24 rounded-[624.9375rem] shadow-custom backdrop-blur-button-23 hover:bg-twitter-blue-hover gap-2.5">
            <div class="text-center font-bold text-neutral-50 font-inter">Post</div>    
        </button>
    </section>

    <br>

    <!-- Disabled -->
    <section>
        <button class="inline-flex justify-center bg-twitter-blue-disabled  w-56 py-4 px-24 rounded-[624.9375rem] shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-400 font-inter">Post</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Default -->
    <section>
        <button class="inline-flex justify-center bg-twitter-blue-default w-20 py-3 px-6 rounded-[1.875rem] shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-50 font-inter">Post</div>    
        </button>
    </section>

    <br>
    <!-- Hover -->
    <section>
        <button class="inline-flex justify-center bg-twitter-blue-default w-20 py-3 px-6 rounded-[1.875rem] shadow-custom backdrop-blur-button-23 hover:bg-twitter-blue-hover gap-2.5">
            <div class="text-center font-bold text-neutral-50 font-inter">Post</div>    
        </button>
    </section>

    <br>

    <!-- Disabled -->
    <section>
        <button class="inline-flex justify-center bg-twitter-blue-disabled w-20 py-3 px-6 rounded-[1.875rem] shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-400 font-inter">Post</div>    
        </button>
    </section>

    <br><hr><br>

    <!-- Default -->
    <section>
        <button class="flex justify-center bg-twitter-blue-default w-[27.625rem] p-5 rounded-[624.9375rem] shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-twittwe-white-100 font-inter">Post</div>    
        </button>
    </section>

    <br>

    <!-- Hover -->
    <section>
        <button class="flex justify-center bg-twitter-blue-default w-[27.625rem] p-5 rounded-[624.9375rem] shadow-custom backdrop-blur-button-23 hover:bg-twitter-blue-hover gap-2.5">
            <div class="text-center font-bold text-twittwe-white-100 font-inter">Post</div>    
        </button>
    </section>

    <br>

    <!-- Disabled -->
    <section>
        <button class="flex justify-center bg-twitter-blue-disabled w-[27.625rem] p-5 rounded-[624.9375rem] shadow-custom backdrop-blur-button-23 gap-2.5">
            <div class="text-center font-bold text-neutral-400 font-inter">Post</div>    
        </button>
    </section>
    
    <br><hr><br>

    <!-- <section>
        <img src="/Public/images/home-icon-not-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section>
    <section>
        <img src="/Public/images/home-icon-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section>
    <section>
        <img src="/Public/images/user-icon-not-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section>
    <section class>
        <img src="/Public/images/user-icon-selected.png" alt="home-icon-not-selected" class="w-6 h-6" />
    </section> -->



    



    
</body>
</html>