<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-neutral-700 mx-80">

    <section class="inline-flex flex-col justify-between items-center flex-shrink-0 w-large-card h-[22.1875rem] px-4 py-2.5 rounded-2xl bg-neutral-1000">
    </section>

    <br><br>

    <section class="inline-flex flex-col items-start w-large-card h-[13.9375rem] px-4 py-2.5 gap-3 rounded-2xl bg-neutral-1000">
        <div id="card_header" class="flex items-center gap-5 px-4 py-3">
            <img src="/public/svg/cross-x.svg" alt="cut-icon" class="w-6 h-6 flex-shrink-0">
            <h1 class="font-inter text-base leading-normal font-bold text-neutral-50">Header</h1>
        </div>
        <div class="flex items-start flex-col px-5 pt-20 pb-5"></div>
    </section>

    <br><br>

    <section class="inline-flex flex-col items-start w-large-card h-[13.9375rem] px-4 py-2.5 gap-3 rounded-2xl bg-neutral-1000">
        <div id="card_header" class="flex items-center gap-5 px-4 py-3">
            <img src="/public/svg/cross-x.svg" alt="cut-icon" class="w-6 h-6 flex-shrink-0">
        </div>
        <div class="flex items-start flex-col px-5 pt-20 pb-5"></div>
    </section>
    
</body>
</html>