<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input components</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-neutral-1000 mx-80 my-32">

    <!-- Normal Input  -->
    <div class="font-inter gap-2.5">
        <fieldset class="w-98 px-3 py-4 border border-neutral-500 rounded-sm group focus-within:border-twitter-blue-default">
            <legend class="px-2 text-neutral-500 font-medium text-xs group-focus-within:text-twitter-blue-default">
                Label
            </legend>
            <div class="flex">
                <input type="text" placeholder="label" class=" text-xl leading-normal bg-inherit cursor-text w-full focus:outline-none focus:caret-twitter-blue-default text-neutral-50 placeholder:text-neutral-500">
            </div>
        </fieldset>        
    </div>

    <br><br>

    <!-- Tweet Input  -->
    <section class="font-inter flex gap-x-3">
        <div class="flex-shrink-0">
            <img src="/public/images/user-avatar.png" alt="profile pic" class="w9 h-9 flex-shrink-0 rounded-[12.5rem]">
        </div>

        <div class="w-99 flex items-center flex-shrink-0 self-stretch">
            <input type="text" placeholder="What's Happening?!" class="placeholder:text-neutral-600 leading-normal text-xl font-normal w-full bg-inherit focus:text-neutral-50 focus:outline-none focus:caret-twitter-blue-default">
        </div>
    </section>

    <br><br>

    <!-- Search bar  -->

    <section class="group flex items-center flex-shrink-0 gap-4 w-[21.75rem] h-[2.4375rem] pl-4 py-2.5 pr-60 rounded-[6249.9375rem] bg-searchbar-fill focus-within:border border-twitter-blue-default">
        <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17"
              height="17"
              viewBox="0 0 17 17"
              class="fill-neutral-500 group-focus-within:fill-primary-100 transition-all duration-150"
            >
              <path
                d="M16.0446 15.2054L13.1471 12.3079C14.1961 11.065 14.8334 9.46109 14.8334 7.70834C14.8334 3.77375 11.643 0.583336 7.70837 0.583336C3.77379 0.583336 0.583374 3.77375 0.583374 7.70834C0.583374 11.6429 3.77379 14.8333 7.70837 14.8333C9.46192 14.8333 11.065 14.1968 12.3064 13.1471L15.2039 16.0446C15.3202 16.1602 15.473 16.2188 15.6235 16.2188C15.7739 16.2188 15.9282 16.161 16.043 16.0446C16.2766 15.8126 16.2766 15.4374 16.0446 15.2054ZM1.77087 7.70834C1.77087 4.43479 4.43483 1.77084 7.70837 1.77084C10.9819 1.77084 13.6459 4.43479 13.6459 7.70834C13.6459 10.9819 10.9819 13.6458 7.70837 13.6458C4.43483 13.6458 1.77087 10.9819 1.77087 7.70834Z"
              />
            </svg>
          </span>

          <input type="text" placeholder="Search" class="bg-inherit text-base font-normal leading-normal placeholder:text-neutral-600 text-neutral-50 focus-within: outline-none focus:caret-twitter-blue-default">

        </section>

</body>
</html>