<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tweet component</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body class="bg-neutral-1000 mx-auto px-4 m-10">
    <section class="flex w-[37.375rem] py-2 px-4 gap-4 items-start border-b border-neutral-700">
        
        <img src="/public/images/user-avatar.png" alt="profile pic" class="w-12 h-12 flex-shrink-0">
        
        <div class="flex-col">
            <div class="flex items-center gap-2.5 self-stretch text-base font-inter leading-normal">
                <div class="text-neutral-50 font-medium">
                    Name
                </div>
                <div class="text-neutral-500 font-normal">
                    @handle • 10h
                </div>
            </div>

            <div class="self-stretch text-neutral-50 font-inter text-base font-normal leading-normal">
                <p>Writing gets easier after the first sentence.</p>
                <br>
                <p>Lifting gets easier after the first set.</p>
                <br>
                <p>People think and think and think until they finally decide to act. Their attention shifts from internal to external, and the difficulty they created in their mind vanishes.</p>
            </div>

            <div class="flex justify-between items-center self-stretch py-3 font-inter font-normal text-sm leading-normal text-neutral-500">
                <div class="flex  justify-center items-center gap-[5px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" class="w-4 h-4">
                        <path d="M12.1092 9.61953L8.03202 13.1427V11.3389V10.5889H7.28202H5.56048C2.90372 10.5889 0.75 8.43518 0.75 5.77842C0.75 3.12167 2.90373 0.967941 5.56048 0.967941H8.88896C11.609 0.967941 13.814 3.17298 13.814 5.89303C13.814 7.32388 13.1918 8.68399 12.1092 9.61953Z" stroke="#737373" stroke-width="1.5"/>
                        </svg>
                    11    
                </div>

                <div class="flex  justify-center items-center gap-[5px]">
                    <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Group 26840">
                        <path id="Vector 5" d="M2.90298 1.46063L0.746094 3.61754M2.90298 1.46063L5.05988 3.61754M2.90298 1.46063L2.90298 10.6958C2.90298 12.2662 4.17605 13.5393 5.74646 13.5393L10.6678 13.5393" stroke="#737373" stroke-width="1.42174" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector 4" d="M16.433 13.5394L18.5898 11.3825M16.433 13.5394L14.2761 11.3825M16.433 13.5394L16.433 4.30417C16.433 2.73376 15.1599 1.46069 13.5895 1.46069L8.66811 1.46069" stroke="#737373" stroke-width="1.42174" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        </svg>
                     
                    270
                </div>

                <div class="flex  justify-center items-center gap-[5px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M8.05399 3.86097L7.42929 3.08431C5.70486 0.940381 2.54605 1.29364 1.2602 3.77422C0.639749 4.97116 0.608864 7.40027 1.17783 8.627C3.09371 12.7578 6.68209 14.7113 7.37 15.0559C7.44712 15.0945 7.5172 15.1431 7.58984 15.1896C7.91175 15.3957 8.32284 15.3698 8.62234 15.112C8.67869 15.0635 12.8049 13.2092 14.9302 8.627C15.4991 7.40027 15.4682 4.97116 14.8478 3.77422C13.5619 1.29364 9.8745 0.697805 8.05399 3.86097Z" stroke="#737373" stroke-width="1.5"/>
                        </svg>

                    1,869
                </div>
                   
                <div class="flex  justify-center items-center gap-[5px]">
                    <img src="/public/svg/reshare.svg" alt="reach" >
                    99.6K
                </div>

                <div class="flex  justify-center items-center gap-[5px]">
                    <img src="/public/svg/reshare.svg" alt="reshare" class="w-4 h-4">
                </div>
            </div>
        </div>
    </section>
</body>
</html>