<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100x Login Page</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="inline-flex py-[14.8rem] px-40 justify-center items-center bg-neutral-1000">
    <section class="flex items-center gap-[6.25rem]">
        <div class="flex justify-center items-end gap-[0.125]">
            <img src="/public/svg/100x-logo.svg" alt="100x logo">
        </div>

        <div class="flex flex-col item-start px-7 gap-y-10 text-neutral-50 font-inter">
            <div class="gap-y-3">
                <div class="text-[3rem] font-bold leading-normal">
                    Happening now
                </div>
                <div class="text-[1.625rem] font-bold leading-normal">
                    Join today
                </div>
            </div>
            <button class="flex justify-center self-stretch bg-neutral-50 py-2 px-6 rounded-4xl shadow-custom backdrop-blur-button-23  hover:bg-neutral-200 gap-2.5">
                <div class="text-center font-bold text-neutral-1000">Create account</div>    
            </button> 
            <div class="flex justify-center gap-1 items-center font-chirp text-base font-normal leading-normal">
                <svg width="173" height="1" viewBox="0 0 173 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.0644531" y1="0.5" x2="172.064" y2="0.5" stroke="#404040"/>
                    </svg>
                    
                or 

                <svg width="173" height="1" viewBox="0 0 173 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.0644531" y1="0.5" x2="172.064" y2="0.5" stroke="#404040"/>
                    </svg>
                    
            </div>
            <div class="flex flex-col items-start gap-5 self-stretch">
                <div class="text-xl font-medium leading-normal">
                    Already have an account?
                </div>
                <button class="flex justify-center self-stretch border border-button-stroke py-2 px-6 rounded-4xl shadow-custom backdrop-blur-button-23 gap-2.5">
                    <div class="text-center font-bold text-twitter-blue-default font-inter">Sign in</div>    
                </button>
            </div>
             

        </div>

    </section>
</body>
</html>